#
# This file is installed by Ansible. ** DO NOT ** edit manually.
#

[Match]
Name={{ network.public.iface }}

[Network]
DHCP=ipv4
{% if network.private.setup_gre %}
Tunnel={{ network.private.iface }}
{% endif %}
