#
# This file is installed by Ansible. ** DO NOT ** edit manually.
#

#hostname:port:database:username:password

*:*:*:barman:{{ postgresql.barman_password }}
*:*:*:barman_streaming:{{ postgresql.barman_password }}
