#
# This file is installed by Ansible. ** DO NOT ** edit manually.
#

DOCKER_IMAGE={{ minimal_operateur_server.docker.image }}:{{ minimal_operateur_server.docker.version }}

API_SETTINGS=/settings.py
