#
# This file is installed by Ansible. ** DO NOT ** edit manually.
#

standby_mode          = 'on'
primary_conninfo      = 'host={{ postgresql.master }} port=5432 user=replicate password={{ postgresql.replication_password }}'
