#
# This file is installed by Ansible. ** DO NOT ** edit manually.
#

DOCKER_IMAGE={{ api_taxi_swagger.docker.image }}:{{ api_taxi_swagger.docker.version }}

URL=https://{{ deploy.hostname }}/swagger.json

# Do not display "models".
DEFAULT_MODELS_EXPAND_DEPTH=-1
