#
# This file is installed by Ansible. ** DO NOT ** edit manually.
#

DEBUG = False

{% if hostname is defined %}
HOST = '{{ hostname }}'
SERVER_NAME = '{{ hostname }}'
{% else %}
HOST = '{{ deploy.hostname }}'
SERVER_NAME = '{{ deploy.hostname }}'
{% endif %}

API_TAXI_URL = 'https://{{ deploy.hostname }}'

{% if deploy.dev_environment %}
INTEGRATION_ENABLED = True
INTEGRATION_ACCOUNT_EMAIL = 'neotaxi'
GEOTAXI_HOST = 'geotaxi'
GEOTAXI_PORT = 8080
{% endif %}

SECRET_KEY = '{{ deploy.api_taxi.secret_key }}'

SQLALCHEMY_DATABASE_URI = 'postgresql://{{ deploy.api_taxi.postgresql.username }}:{{ deploy.api_taxi.postgresql.password }}@172.30.0.1:6432/taxis_prod'

REDIS_URL = "redis://:{{ redis.password }}@172.30.0.1:6379/0"

SECURITY_PASSWORD_SALT = '{{ deploy.api_taxi.security_password_salt }}'

CELERY_BROKER_URL = 'redis://:{{ redis.password }}@172.30.0.1:6379/0'
CELERY_RESULT_BACKEND = 'redis://:{{ redis.password }}@172.30.0.1:6379/0'

INFLUXDB_HOST = '172.30.0.1'
INFLUXDB_PORT = 8086

INFLUXDB_USER = '{{ influx.api_username }}'
INFLUXDB_PASSWORD = '{{ influx.api_password }}'
INFLUXDB_DATABASE = 'taxis_prod'
INFLUXDB_USE_UDP = False
INFLUXDB_UDP_PORT = 0

SENTRY_DSN = '{{ deploy.api_taxi.sentry_dsn }}'
