#
# This file is installed by Ansible. ** DO NOT ** edit manually.
#

DOCKER_IMAGE={{ geotaxi.docker.image }}:{{ geotaxi.docker.version }}

HOST=0.0.0.0
PORT=8080

{#
    172.30.0.1 is hardcoded in the role "network", and is the IP address of the
    gateway, ie. the host.
#}
REDIS_HOST=172.30.0.1
FLUENT_HOST=172.30.0.1

REDIS_PASSWORD={{ redis.password }}

API_URL=https://api.taxi

VERBOSE=1

SENTRY_DSN={{ deploy.geotaxi.sentry_dsn }}
