#
# This file is installed by Ansible. ** DO NOT ** edit manually.
#

DOCKER_IMAGE={{ geotaxi.docker.image }}:{{ geotaxi.docker.version }}

{#
    172.30.0.1 is hardcoded in the role "network", and is the IP address of the
    gateway, ie. the host.
#}
REDIS_HOST=172.30.0.1
FLUENT_HOST=172.30.0.1
