#
# This file is installed by Ansible. ** DO NOT ** edit manually.
#

[Match]
Name={{ private_iface }}.{{ private_vlan }}

[Network]
DHCP=no

[Address]
Address={{ private_ip_address }}

[Route]
Destination={{ failover_ipv4_address }}/{{ failover_ipv4_netmask }}
Scope=link
